body {
  margin: 0 15vw;
  width: 70vw;
  background-color: darkgrey;
  color: white;
}

.hover-box {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hover-box:hover {
  opacity: 1
}

.item {
  height: auto;
  position: relative;
  box-shadow: 0 0 2px 0 rgba(117, 91, 91, 0.3);
}

.container a {
  display: block;
}

.img-description {
  color: white;
  text-align: center;
  font-size: 100%;
}

.item img {
  width: 100%;
  height: auto;
  position: relative;
}