body {
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

