body {
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

section {
  text-align: center;
}

.title {
  background-color: black;
  color: white;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 3s linear;
  background-color: red;
}

