body {
  background-color: lightgrey;
  margin: 0;
}

.content-container {
  display: inline-flex;
}

main {
  padding: 0;
}

h1 {
  margin-top: 0;
}

section {
  text-align: center;
}

aside {
  border-left: 1px solid black;
  margin-left: 1%;
}

.title {
  background-color: black;
  color: white;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 3s linear;
  background-color: white;
}

.error {
  background: red;
}

.search-result-list p {
  margin: 0.5em;
  text-align: start;
}

input {
  margin: 5px;
}

