html {
  font-size: 14px;
  font-family: sans-serif;
}

header {
  width: 100vw;
  height: 15vh;
  background: #008066;
}

.header {
  font-size: 46px;
}

header, footer {
  text-align: center;
}

.nav {
  font-size: 12px;
}

.sidebar {
  font-size: 10px;
}

nav, aside {
  width: 15vw;
  height: 75vh;
  background: #00cca3;
}

.content {
  font-size: 14px;
}

section {
  width: 40vw;
  height: 75vh;
}

.footer {
  font-size: 10px;
}

footer {
  width: 100vw;
  height: 10vh;
  background: #008066;
}