html {
  height: 100%;
  widows: 100%;
}

#global * {
  font-size: 50px;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

/* Selects all class attributes that finish with an r */
[class$="r"] {
  background: magenta;
}

h1 {
  margin: 0;
}

/*Selects all class atributes that have an a but dont finish with r */
:not([class$="r"])[class*="a"] {
  background: blue;
}

header {
  width: 100%;
  height: 15%;
  background: #008066;
}

.box {
  display: inline-flex;
  width: 100%;
  height: 100%;
  margin-bottom: 1%;
}

.header {
  font-size: 46px;
}

header, footer {
  text-align: center;
}

article {
  height: 70%;
  width: 100%;
}

.navigation {
  font-size: 12px;
  margin-left: 1%;
}

.sidebar {
  font-size: 10px;
  margin-right: 1%;
}

nav, aside {
  width: 15%;
  height: 100%;
  background: #00cca3;
}

.content {
  font-size: 14px;
  margin: 0 20px;
}

section {
  width: 70%;
  height: 100%;
}

.footer {
  font-size: 10px;
}

footer {
  width: 100%;
  height: 10%;
  background: #008066;
}